/* 0b448c темно-синий -  */
/* fff белый */
/* 67b8ea светло-голубой */
/*  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*, *::before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

._container {
    max-width: 1180px;
    margin: auto;
    padding: 0px 20px;
}


/* NAVBAR */
._header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 3px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.header__logo img {
    width: 65%;
    min-width: 100px;
} .header__logo h6 {
    color: #0b448c;
    font-size: 14px;
}
.header__burger { display: none; }
.header__list {
    display: flex;
    position: relative;
    z-index: 4;
}
.header__list li {
    list-style: none;
    margin-left: 20px;
}
.header__link {
    color: #0b448c;
    text-decoration: none;
    font-size: 20px;
}
.header__link:hover {
    color: #67b8ea;
}
.header__link img {
    width: 26px;
    filter: invert(18%) sepia(69%) saturate(2148%) hue-rotate(200deg) brightness(95%) contrast(96%);
}
.header__link img:hover {
    filter: invert(66%) sepia(40%) saturate(757%) hue-rotate(174deg) brightness(99%) contrast(85%);
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 60px;
    }
    .header__logo img {
        width: 50%;
        min-width: 100px;
    } .header__logo h6 {
        font-size: 10px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #0b448c;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #0b448c;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        transition: all 300ms ease 0ms;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        top: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 70px 10px 20px 10px;
        transition: all 200ms ease 0ms;
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
}


/* stuff */
._content {
    padding: 130px 20px 0 20px;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

._title {
    margin-bottom: 20px;
    color: #67b8ea;
}
.dots {
    display: block;
    border-bottom: 14px dotted #5f92d1;
    width: 10%;
    overflow: visible;
    margin: 50px 0;
}


/* MAIN TITILE (ENVIONA h1) */
.main__title {
    text-transform: uppercase;
    color: #0b448c;
    font-size: calc(26px + 6vw);
    margin-bottom: 60px;
}
@media screen and (min-width: 1000px){
    .main__title {
        font-size: 90px;
    }
}


/* ABOUT US */
.about__us {
    text-align: center;
    border-width: 30px;
}


/* BANNERS */
.banners {
    text-align: center;
}
.banner {
    display: flex;
    max-width: 800px;
    margin: 30px;
}
.banner img {
    width: 300px;
    max-width: 290px;
    height: 250px;
}
.banner__text {
    background-color: #e6f5ff;
    padding: 20px;
}
.banner__text p {
    font-size: calc(16px + 1.5%);
    color: #3f6491;
}
.banner__text h3 {
    color: #0b448c;
    padding-bottom: 20px;
}
.banner__text h3 img {
    width: 20px;
    height: 20px;
    margin: 0 7px;
}
.banner__text__left {
    margin-right: 30px;
    text-align: right; 
    border-radius: 20px 1px 1px 20px;
}
.banner__text__right {
    text-align: left;
    margin-left: 30px;
    border-radius: 1px 20px 20px 1px;
}


/* BESTSELLER */
.bestseller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product {
    margin: 42px 10px;
    width: 300px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-left: 1px solid #6e6e6e41;
    border-right: 1px solid #6e6e6e41;
}
.product__img {
    height: 220px;
    margin-bottom: 10px;
}
.product__title {
    font-size: 24px;
    padding-bottom: 12px;
}
.product__description {
    font-size: 16px;
    color: #230e0e8a;
}
.product__price {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
}
.product__buy__button {
    margin: 18px;
    width: 90%;
    padding: 6px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

/* TARIFFS */
.tariffs {
    display: flex;
    padding: 30px;
}
.tariff {
    margin: calc(18px + 1%);
    min-width: 250px;
    max-width: 320px;
    padding: 24px;
    border-radius: 12px;
}
.tariff p {
    margin: 6px;
}
.tariff__title {
    font-size: 24px;
    padding-bottom: 12px;
}
.tariff__price {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
}
.tariff__button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tariff__button button {
    margin-top: 6px;
    width: 100%;
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    background-color: #6ca6ed;
    transition: 0.3s;
}
.tariff__button button:hover {
    background-color: #5399ef;
}
.home__type { background-color: #bedbff; color: #000; }
.lux__type { background-color: #4a95f1; color: #fff; }
.office__type { background-color: #e9eff7; color: #000; }


/* REVIEWS */
.reviews {
    display: flex;
}
.card {
    height: 350px;
    min-width: 250px;
    max-width: 350px;
    background-color: #ffffff;
    margin: 2%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #67b8ea;
    box-shadow: 10px 10px 0 1px #00000026;
}
.privetstvie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.privetstvie img{
    height: 50px;
    width: 50px;
}
.privetstvie p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px
}
.icon {
    width: 20px;
    height: 20px;
    margin: 2px
}


/* CERTIFICATES */
.certificates {
    border-top: 1px solid #4aaae5;
    display: flex;
    margin: 40px 0;
}
.certificates img {
    margin: 40px 20px;
    width: 30%;
    min-width: 290px;
}


/* FOOTER */
.footer {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    height: 80%;
    background-color: #e6f5ff;
    color: #257db3;
    border-top: 1px solid #4aaae5;
}
.footer {
    font-weight: 500;
}
.footer h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
.contact__us {
    padding: 44px;
    border-radius: 15px;
    margin: 18px;
    color: #fff;
    background-color: #0b448c;
    display: flex;
    flex-direction: column;
}
.contact__title {
    font-size: 24px;
    margin-bottom: 18px;
}
.row1, .row2 {
    display: flex;
    margin-bottom: 18px;
}
.name, .surname, .email {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.check {
    display: flex;
    align-items: center;
} .check label {
    margin-right: 5px;
} .check input[type="checkbox"] {
    accent-color: yellow;
}
.name label, .surname label, .email label { margin-bottom: 5px }
.contact__us input[type="text"], input[type="email"] {
    width: 200px;
    height: 32px;
    padding: 5px;
    padding-left: 8px;
    font-size: 18px;
    border-radius: 8px;
}
.contact__button {
    width: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
}.contact__button button {
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid yellow;
    transition: 0.2s;
}.contact__button button:hover {
    background-color: yellow;
    color: #0b448c;
}

.footer__table {
    display: flex;
    margin: 40px 0 20px 0;
    text-align: left;
    font-weight: 100;
    padding-bottom: 24px;
    border-bottom: 1px solid #4aaae5;
}
.footer__bottom__text {
    font-size: 14px;
    text-align: center;
    color: #4aaae5; 
}
.footer__col {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}
.footer__link {
    color: #4aaae5;
}
.footer__link:hover {
    text-decoration: none;
}

@media (max-width: 874px) {
    .banner {
        display: block;
    }
    .banner.right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner__text {
        text-align: center !important;
        margin: 0;
        background-color: transparent;

    }

    .reviews {
        display: block;
        margin: 0;
    }

    .tariffs {
        display: block;
        margin: 0;
    }
    .tariff {
        margin-right: 0;
        margin-left: 0;
    }

    .bestseller {
        display: block;
        margin: 0;
    }
    .product {
        border: none;
        margin-top: 0;
    }

    .certificates {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .certificates img {
        margin: 20px 0;
    }

    .footer__table {
        display: block;
    }
    .footer {
        width: 100%;
        height: 100%;
    }
    .footer__col {
        margin: 15px 0;
    }
    .contact__us {
        display: none;
    }
}
