@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*, *::before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

._container {
    max-width: 1180px;
    margin: auto;
    padding: 0px 20px;
}


/* NAVBAR */

._header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0 3px;
    border: 2px solid #0b448c;
    z-index: 3;
}

.header__burger { display: none; }

.header__list {
    display: flex;
    position: relative;
    z-index: 4;
}
.header__list li {
    list-style: none;
    margin-left: 20px;
}

.header__link {
    color: #0b448c;
    text-decoration: none;
    font-size: 20px;
}
.header__link:hover {
    color: #67b8ea;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__logo h1 {
        font-size: 25px;

    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #0b448c;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #0b448c;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        transition: all 300ms ease 0ms;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        top: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 70px 10px 20px 10px;
        transition: all 200ms ease 0ms;
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
}


/* CONTENT */

._content {
    padding: 130px 20px 0 20px;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

._title {
    margin-bottom: 20px;
    color: #67b8ea;
}

.dots {
    display: block;
    border-bottom: 14px dotted #4873a7;
    width: 10%;
    overflow: visible;
    margin: 50px 0;
}

.about__us {
    text-align: center;
    border-width: 30px;
}

.banners {
    text-align: center;
}
.banner {
    display: flex;
    max-width: 800px;
    margin: 30px;
}
.banner img {
    width: 300px;
    height: 250px;
}
.banner__text {
    background-color: #e6f5ff;
    padding: 20px;
}
.banner__text p {
    font-size: calc(16px + 1.5%);
    color: #3f6491;
}
.banner__text h3 {
    color: #0b448c;
    padding-bottom: 20px;
}
.banner__text h3 img {
    width: 20px;
    height: 20px;
    margin: 0 7px;
}
.banner__text__left {
    margin-right: 30px;
    text-align: right; 
    border-radius: 20px 1px 1px 20px;
}
.banner__text__right {
    text-align: left;
    margin-left: 30px;
    border-radius: 1px 20px 20px 1px;
}

.reviews {
    display: flex;
}

@media (max-width: 874px) {
    .banner {
        display: block;
    }
    .banner.right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner__text {
        text-align: center !important;
        margin: 0;
        background-color: transparent;

    }

    .reviews {
        display: block;
    }
}

.card {
    height: 350px;
    min-width: 250px;
    max-width: 350px;
    background-color: #ffffff;
    margin: 40px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #67b8ea;
    box-shadow: 10px 10px 0 1px #00000026;
}

.privetstvie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.privetstvie img{
    height: 50px;
    width: 50px;
}
.privetstvie p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px
}

/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    height: 200px;
    width: 100vw;
    background-color: #6ca6ed;
    border-top: 1px solid rgb(161, 161, 161);
    color: #fff;
    text-align: center;
}
.footer > p {
    font-family: 'Open Sans', sans-serif;
}
.footer__container {
    max-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    font-weight: 100;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 2px
}
